*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --timingFn: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  // outline: 1px solid blue;
}
/* ==================== HEADER ==================== */
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-container {
  display: flex;
  position: relative;
  /* для центр. ссылок */
  align-items: center;
  text-align: center;
}
.logo-title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  cursor: pointer;
}
.logo-subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-top: 10px;
  cursor: pointer;
}
.nav {
  margin-left: auto;
}
.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-item:not(:last-child) {
  margin-right: 35px;
}
.nav-link {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  transition: all 250ms var(--timingFn);
}
.nav-link:hover {
  color: #cdcdcd;
}
/* ==================== PETS ==================== */
.pets__section {
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #f6f6f6;
}
.pets__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 45px;
}
/* card */
.pets__content-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 45px;
}
.pets__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
  margin-bottom: 30px;
  cursor: pointer;
}
.pets__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pets__card:hover {
  background-color: #ffffff;
}
.button {
  display: inline-block;
  padding: 15px 45px;
  align-items: center;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  transition-duration: 200ms;
  cursor: pointer;
}

/* button hover */
.pets__card:hover button {
  background-color: #f1cdb3;
}

.pets__card:hover button:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

/* navigation */
.pets__navigation {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.btn-paginator {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: transparent;
  font-size: 20px;
  font-family: "Georgia";
  transition-duration: 200ms;
}
.selected {
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
  pointer-events: none;
}
.btn-paginator_inactive {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  pointer-events: none;
}
.btn-paginator_active {
  color: #292929;
  border: 2px solid #f1cdb3;
}
.btn-paginator_active:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
}
/* ==================== FOOTER ==================== */
.footer-section {
  padding-top: 56px;
  background: url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
}
.footer__content-all {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  // outline: 1px solid yellow;
}
.footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 280px;
  margin-bottom: 40px;
}
/* contacts */
.footer__item {
  margin-bottom: 40px;
}
.footer-link {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer__email {
  display: inline-block;
  padding: 5px 0 4px 60px;
  color: #f1cdb3;
  position: relative;
}

.footer__email::before {
  content: "";
  display: block;
  width: 40px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 3px;
  background: url("../../assets/icons/mail.svg") center no-repeat;
}
.footer__phone {
  display: inline-block;
  padding: 5px 0 4px 60px;
  color: #f1cdb3;
  position: relative;
}
.footer__phone::before {
  content: "";
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../assets/icons/phone.svg") center no-repeat;
}
/* locations */
.footer__locations {
  max-width: 302px;
}
.location-title {
  margin-bottom: 33px;
}
.footer__location-item {
  margin-bottom: 31px;
}
.footer__location-link {
  padding-left: 42px;
  display: inline-block;
  position: relative;
}
/* svg */
.footer__location-link::before {
  content: "";
  display: block;
  width: 22px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../assets/icons/pin.svg") center no-repeat;
  align-items: center;
}
